<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/logado.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>TrimStyle</title>
</head>
<body>

<div class="container-menu">
  <div class="menu">
  <div id="logo"><a href="/views/welcome.html"><img src="/public/img/Logo.png" width="200px" ></a></div>
    <div class="container-link">
      <div id="borda"><a href="/views/welcome.html" class="link-menu">Inicio</a></div>
      <div id="borda"><a href="/views/servico-profissional.html" class="link-menu">Meus serviços</a></div>
      <div id="borda"><a href="/views/contato.html" class="link-menu">Contato</a></div>
      <div id="borda"><a href="/views/welcome.html" class="link-menu">Sair</a></div>
    </div>
    <div id="user" class="profile-pic">
      <img src="/public/img/clientee.jpg" onclick="trocarImagem()">
    </div>
  </div>
    <br><br><br>

<h1>...Aqui está a sua agenda do dia...</h1>




<script>

function trocarImagem() {
  const fileInput = document.createElement('input');
  fileInput.type = 'file';
  fileInput.accept = 'image/*';
  fileInput.onchange = () => {
    const file = fileInput.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => {
      const img = document.querySelector('.profile-pic img');
      img.src = reader.result;
    };
  };
  fileInput.click();
}
</script>