<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css">
    <title>Cadastre-se</title>
</head>
<body>

    <div class="container-menu">
        <div class="menu">
        <div id="logo"><a href="welcome"><img src="../imagens/Logo.png" width="200px" ></a></div>
            <div class="container-link">
                <div id="borda"><a href="./welcome.html" class="link-menu">Inicio</a></div>
                <div id="borda"><a href="./sobre.html" class="link-menu">Sobre nós</a></div>
                <div id="borda"><a href="./contato.html" class="link-menu">Contato</a></div>
                <div id="borda"><a href="./login.html" class="link-menu">Entrar</a></div>
            </div>
        </div>
     
    <!--Fim do menu-->

<!--inicio conteudo central-->


<div class="conteudo-central">


    <div class="conteudo-esquerdo">
        <div class="conteudo-cima">
        <div id="botao"><a href="./cliente.html">Cliente</a></div>
        </div>
        <div class="conteudo-baixo">
        <div id="conteudo">Está com aquela duvida na hora de dar um
            tapa no visual, seja um cliente TrimStyle
            e encontre profissionais de confiança e com o 
            preço que deseja pagar.</div>
        </div>
    </div>
    <div class="conteudo-direito">
        <div class="conteudo-cima">
        <div id="botao"><a href="./profissional.html">Profissional</a></div>
    </div>

    <div class="conteudo-baixo">
        <div id="conteudo">Faça parte da TrimStyle e garanta novos 
            clientes com o nosso sistema de classificação
            e de facil busca.</div>
    </div> 

    </div>





</div>








</div>



    
</body>
</html>