<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/logado.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>TrimStyle</title>
</head>
<body>

<div class="container-menu">
  <div class="menu">
  <div id="logo"><a href="./welcome.html"><img src="../imagens/Logo.png" width="200px" ></a></div>
    <div class="container-link">
      <div id="borda"><a href="./welcome.html" class="link-menu">Inicio</a></div>
      <div id="borda"><a href="#conteudo-5" class="link-menu">Meus agendamentos</a></div>
      <div id="borda"><a href="./pesquisa-profissional.html" class="link-menu">Pesquisar profissional</a></div>
      <div id="borda"><a href="./welcome.html" class="link-menu">Sair</a></div>
    </div>
    <div id="user" class="profile-pic"><img src="../imagens/clientee.jpg"></div>
  </div>
  
 
<!--Fim do menu-->
    <main>
      <h1>Bem-vindo de volta</h1>
      <p>Aqui voce encontra informações sobre os serviços agendados...</p>
    </main>
    <footer>
      <p>&copy; 2023 - Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
