* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montagu+Slab:opsz,wght@16..144,100&display=swap');
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .container-menu {
    width: 100%;
    height: 100%;
    background: black;
  }
  
  .menu {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #BF8343;
    backdrop-filter: blur(8px);
    background-color: rgba(128, 128, 128, 0.276);
  }
  
  #logo {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 5vh;
  }
  
  .container-link {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  
  #borda {
    border-right: solid 3px #BF8343;
    padding: 1%;
  }
  
  .link-menu {
    color: white;
    text-decoration: none;
    font-size: 3vh;
  }
  
  .container-link :hover{
    /* font-size: 4vh; */
    /*-webkit-text-stroke: 0.2px #BF8343;*/
    transition-timing-function: ease-in-out;
    color: #cf781b;
  }
  
  #user img {
    border-radius: 50%;
  }

  .profile-pic {
    position: relative;
  }
  
  .profile-pic:hover:after {
    content: "Trocar imagem";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
  }
  
  
  /* Adicione estas regras de estilo para tornar a imagem redonda e definir a largura e altura */
  #user {
    width: 15%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Defina a largura e altura da imagem */
  #user img {
    width: 50%;
    height: 150%;
  }
  #user {
    position: relative;
  }


  #change-image-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-top: 10px; /* adicione um espaçamento de 10 pixels entre a imagem e o botão */
  }
  
  
  

  h2 {
    text-align: center;
    margin: 5%;
  }

  .imagens {
    display: flex;
    justify-content: space-around;
  }

  #container {
    height: 100vh;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    font-size: 0.8em;
    background-color: black;
  border-top: solid 1px #cf781b;
  }


.image-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .image-placeholder {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .image-preview {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .image-overlay-1 {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.185);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    background-image: url(../imagens/unha-mao.png);
    background-size: 100% 100%;
  }

  .image-overlay-2 {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.185);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    background-image: url(../imagens/pe.png);
    background-size: 100% 100%;
  }

  .image-overlay-3 {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.185);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    background-image: url(../imagens/pe-mao.avif);
    background-size: 100% 100%;
  }

  #container-clique {
    display: flex;
    justify-content: center;
  }

  .clique {
    width: 15%;
    font-size: 1.5vw;
    text-align: center;
    padding: 0.5%;
    border: solid 1px #cf781b;
    border-radius: 10px;
  }

  